# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.eggs/
dist/
build/
*.log
*.sqlite3
*.db
*.db-journal
*.db-wal

# FastAPI specific
instance/
*.swp
*.swo
*.bak

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test directories
test_*
tests/

# Virtual environment
venv/

# Docker files
Dockerfile
docker-compose.yml

# Python wheels
*.whl

# Pytest
*.pytest_cache/
